<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.account.dao.ConsumeRecordMapper" >
    <resultMap id="BaseResultMap" type="com.me.account.entity.ConsumeRecord" >
        <id column="CONSUME_RECORD_ID" property="consumeRecordId" />
        <result column="CONSUME_TYPE_ID_FK" property="consumeTypeIdFk"  />
        <result column="CONSUME_TYPE" property="consumeType"/>
        <result column="PAY_TYPE_ID_FK" property="payTypeIdFk" />
        <result column="PAY_TYPE" property="payType" />
        <result column="CONSUME_TIME" property="consumeTime"  />
        <result column="CONSUME_AMOUNT" property="consumeAmount"  />
        <result column="CONSUME_DESC" property="consumeDesc"  />
        <result column="CONSUME_ADDR" property="consumeAddr"  />
        <result column="TSYS_USER_ID_FK" property="tsysUserIdFk" />
    </resultMap>

    <sql id="MySql_Pagination_Tail" >
     limit #{startRow},#{endRow}
    </sql>

    <sql id="Example_Where_Clause" >
        <trim prefix="where" prefixOverrides="and|or" >
<!--            <if test="condition.titleLike != null" >-->
<!--                and TITLE LIKE CONCAT('%', #{condition.titleLike},'%')-->
<!--            </if>-->
            <if test="condition.pkSysUser != null" >
                and cr_t.TSYS_USER_ID_FK = #{condition.pkSysUser}
            </if>
            <if test="condition.consume_type_id_fk != null" >
                and cr_t.CONSUME_TYPE_ID_FK = #{condition.consume_type_id_fk}
            </if>
            <if test="condition.pay_type_id_fk != null" >
                and cr_t.PAY_TYPE_ID_FK = #{condition.pay_type_id_fk}
            </if>
            <if test="condition.beg_time != null" >
                and cr_t.CONSUME_TIME &gt;= #{condition.beg_time}
            </if>
            <if test="condition.end_time != null" >
                and cr_t.CONSUME_TIME &lt; #{condition.end_time}
            </if>

            and cr_t.CONSUME_TYPE_ID_FK = ct_t.CONSUME_TYPE_ID
            and cr_t.PAY_TYPE_ID_FK = pt_t.PAY_TYPE_ID
        </trim>
    </sql>

    <sql id="Base_Column_List" >
		cr_t.CONSUME_RECORD_ID,cr_t.CONSUME_TYPE_ID_FK,cr_t.PAY_TYPE_ID_FK,cr_t.CONSUME_TIME,cr_t.CONSUME_AMOUNT,
		cr_t.CONSUME_DESC,cr_t.CONSUME_ADDR,cr_t.TSYS_USER_ID_FK,ct_t.consume_type,pt_t.pay_type
    </sql>


    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.me.account.entity.sys.Criteria" >
        select
        <include refid="Base_Column_List" />
        from consume_record as cr_t,consume_type as ct_t,pay_type as pt_t
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="countByExample" resultType="int" parameterType="com.me.account.entity.sys.Criteria" >
        select count(1) from consume_record as cr_t,consume_type as ct_t,pay_type as pt_t
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.me.account.entity.sys.Criteria" >
        select
        <include refid="Base_Column_List" />
        from consume_record as cr_t,consume_type as ct_t,pay_type as pt_t
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        order by CONSUME_TIME desc
        <include refid="MySql_Pagination_Tail" />
    </select>

    <select id="getConsumeRecordByUserPkId" resultMap="BaseResultMap" parameterType="java.math.BigInteger">
        select r.*, ct.consume_type,py.pay_type from consume_record as r,consume_type as ct,pay_type as py
        where r.CONSUME_TYPE_ID_FK = ct.CONSUME_TYPE_ID
        and r.PAY_TYPE_ID_FK = py.PAY_TYPE_ID
        and r.TSYS_USER_ID_FK = #{tsysUserId}
    </select>

    <select id="seqConsumeRecord" resultType="java.lang.Long" >
		select concat(
			  (select date_format(now(),'%Y%m%d') AS t )
			   ,nextval('seq_consume_record')
              ) AS seqid
    </select>
</mapper>
