<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CardMapper">
    <!-- 解决表名与字段不匹配 -->
     <resultMap type="Card" id="cardResultMap">
        <id property="card_id" column="card_id"/>
        <result property="card_num" column="card_num"/>
        <result property="u_name" column="u_name"/>
        <result property="bank_id" column="bank_id"/>
        <result property="money" column="money"/>
        <result property="pay_pwd" column="pay_pwd"/>
    </resultMap> 
    
    <select id="getAllCardsByUid" resultType="map">
        select cards.card_num,cards.card_id,cards.money,cards.pay_pwd,cards.u_name,users.username
		from users,cards,user_card
		where  user_card.uid = #{uid}
		and users.uid = #{uid}
		and cards.card_id = user_card.card_id
    </select>
	<select id="getAllCards" resultType="map">
	    select cards.card_num,cards.card_id,cards.money,cards.pay_pwd,cards.u_name,users.username
		from users,cards,user_card
		where  user_card.uid = users.uid
		and cards.card_id = user_card.card_id
	</select>
    
    <select id="findOneCardByCardId" resultMap="cardResultMap" parameterType="java.lang.Integer">
        select * from cards where card_id=#{card_id}
    </select>
    
    <select id="findOneCardByCardNum" resultMap="cardResultMap" parameterType="java.lang.Integer">
        select * from cards where card_num=#{card_num}
    </select>
        <select id="findOneCardByBankId" resultMap="cardResultMap" parameterType="java.lang.Integer">
        select * from cards where bank_id=#{bank_id}
    </select>
    <update id="updateCardByCardId" parameterType="Card">
    update cards set money = #{money} where card_id = #{card_id}
    </update> 
    
    <update id="updateCardPwdByCardId" parameterType="Card">
    update cards set pay_pwd = #{pay_pwd} where card_id = #{card_id}
    </update> 
    
     <insert id="insertCard" parameterType="Card" >
    insert into cards (card_num,u_name, bank_id, pay_pwd)
    values (#{card_num},#{u_name}, #{bank_id},#{pay_pwd}
      )
	</insert>
    <select id="findMaxCardNum" resultMap="cardResultMap">
    select * from cards  order by card_num desc;
    </select>
    <delete id="deleteByCardId" parameterType="java.lang.Integer" >
    delete from cards
    where card_id = #{card_id}
  </delete>
    
</mapper>