<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LogMapper">
    <!-- 解决表名与字段不匹配 -->
    <resultMap type="Log" id="logResultMap">
        <id property="log_id" column="log_id"/>
        <result property="uid" column="uid"/>
        <result property="aid" column="aid"/>
        <result property="content" column="content"/>
        <result property="time" column="time"/>
    </resultMap>
    
    <select id="getLogs" resultMap="logResultMap">
        select * from logs order by log_id desc
    </select>
    <select id="getLogByUid" resultMap="logResultMap" parameterType="Log">
        select * from logs where uid=#{uid} order by log_id desc
    </select>
    <select id="getLogByLogId" resultMap="logResultMap" parameterType="Log">
        select * from logs where log_id=#{log_id}
    </select>
     <insert id="insertAdLog" parameterType="Log">
    insert into logs (aid,content,time) values(
    #{0},#{1},DATE_FORMAT(NOW(),'%Y-%m-%d %k:%i:%s')) 
    </insert>
    <insert id="insertLog" parameterType="Log">
    insert into logs 
    
    <trim prefix="(" suffix=")" suffixOverrides="," >
    <if test="uid != null" >
        uid,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="content != null" >
        content,
      </if>
      
        time
      </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="uid != null" >
        #{uid},
      </if>
      <if test="aid != null" >
        #{aud},
      </if>
      <if test="content != null" >
        #{content},
      </if>
   DATE_FORMAT(NOW(),'%Y-%m-%d %k:%i:%s')
    </trim>
    </insert>
     <delete id="deleteByLogId" parameterType="java.lang.Integer" >
    delete from logs
    where log_id = #{log_id}
  </delete>
</mapper>