<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.account.dao.sys.TSysUserMapper" >
    <resultMap id="BaseResultMap" type="com.me.account.entity.sys.TSysUser" >
        <id column="PK_SYS_USER" property="pkSysUser" />
        <result column="USER_NAME" property="userName"  />
        <result column="PASSWORD" property="password"/>
        <result column="USER_TYPE" property="userType" />
        <result column="USER_LEVEL" property="userLevel" />
        <result column="MOBILE" property="mobile"  />
        <result column="PHONE" property="phone"  />
        <result column="AREA" property="area"  />
        <result column="EMAIL" property="email"  />
        <result column="REMARK" property="remark" />
        <result column="LAST_LOGIN_TIME" property="lastLoginTime"  />
        <result column="LAST_LOGIN_IP" property="lastLoginIp"  />
        <result column="IS_VALID" property="isValid"  />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_DATE" property="createDate"  />
        <result column="UPDATE_BY" property="updateBy"  />
        <result column="UPDATE_DATE" property="updateDate"  />
        <result column="REAL_NAME" property="realName"  />
        <result column="IS_CHECK" property="isCheck"  />
        <result column="UPDATE_BY" property="updateBy"  />
        <result column="UPDATE_DATE" property="updateDate"  />
        <result column="REAL_NAME" property="realName"  />
        <result column="IS_CHECK" property="isCheck"  />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <trim prefix="where" prefixOverrides="and|or" >
            AND IS_VALID = 1
            <if test="condition.userNameLike != null" >
                and USER_NAME LIKE CONCAT('%', #{condition.userNameLike},'%')
            </if>
            <if test="condition.userName != null" >
                and USER_NAME = #{condition.userName}
            </if>
        </trim>
    </sql>
    <sql id="Base_Column_List" >
    PK_SYS_USER, USER_NAME, PASSWORD,USER_TYPE,USER_LEVEL,
    MOBILE,PHONE,AREA,EMAIL,REMARK,
    LAST_LOGIN_TIME,LAST_LOGIN_IP,IS_VALID,CREATE_BY,CREATE_DATE,
    UPDATE_BY,UPDATE_DATE,REAL_NAME,IS_CHECK
  </sql>

    <select id="findAllUsers" resultType="com.me.account.entity.sys.TSysUser">
        select * from t_sys_user
    </select>
    <select id="loginCheckUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from T_SYS_USER
        where IS_VALID=1 and USER_NAME = #{userName}
    </select>
</mapper>
